server:
  http_listen_port: ${PROMTAIL_PORT}

positions:
  filename: /tmp/positions.yaml

clients:
  - url: "${LOKI_URL}"

scrape_configs:
  - job_name: spring-boot
    static_configs:
      - targets:
        - localhost
        labels:
          job: springboot
          __path__: /var/log/spring-boot/*.log